body
{
	/*background-image:url('imagine.jpg');*/
	background-color:#eee;
}
.menu a div
{
  display:none;
  position:absolute;
}
.menu a:hover div
{
  display:block;
  background-color:lightgrey;
  text-decoration:none;
}
