#continut {
	width: 800px;
	margin: 0px auto;
}

#header {
	padding-top: 10px;
	background-color: gray;
	height: 100px;
	border-radius:25px 25px 0px 0px;
	
}

ul li {
	list-style: none;
	display: inline-block;
}

ul li a {
	text-decoration: none;
}


ul li > div {
	position: absolute;
	display: none;
}

ul li:hover > div {
	display: block;
}

#content {
	background-color: lightgrey;
	height: 500px;
	width: 800px;
}

#left {
	float: left;
	width: 198px;
	border-right: 2px solid;
	min-height: 500px;
}

#right {
	float: right;
	width: 600px;
}

#footer {
	background-color: gray;
	height: 100px;
	border-radius:0px 0px 25px 25px;
}